.profileEmailPic{
    height: 9rem;
    width: 9rem;
    object-fit: cover;
    border-radius: 50rem;
}

.btn-sendmail{
    background: black;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 5px;
}

.column .form-control{
    font-size: 1.5rem;
}


.left{
    min-width: 30rem;
}


  
  .bg-image {
    background-image: url('../../assets/imgs/slider/2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }


  .column{
    box-shadow: none;
  }


  .bg-image{
    display: flex!important;
    justify-content: center;
    align-items: center;
  }

  .img-left-logo{
    max-width: 25rem;
  }

  .signInContainer{
    height: auto;
    margin-top: 7rem;
    margin-bottom: 7rem;
  }