.signInContainer{
   

}

.column{
    background: black;
    color: white;
    position: relative;
    z-index: 9;
}

.header{
    background: black;
    color: white;
}
.signFormBtn{
    color: black;
    background: white;
}

.signForm input{
    background: black;
    color: white;
    border: white 2px solid;
}

.btnFrontend{
    background: white;
    color: black;
    width: 16rem;
    text-align: center;
    border-radius: 1rem;
    position: absolute;
    right: 1rem;
    top: 1rem;
    z-index: 8;
}