main{
    width: 100%;
}

.userimage{
    height: 3rem;
    width: 3rem;
    object-fit: cover;
    border-radius: 8rem;
}

.sectionUsers{
    margin: 0 auto;
    max-width: 40rem;
}

.btnContainer{
    display: flex;
    gap: 1rem;
    width: 100%;
    justify-content: center;
}

